*{
    transition: 0.3s ease-in-out;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 156px;
    background-color: transparent;
    width: 100%;
    height: 135px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 0.5s ease-in-out;
}

.logo img{
    width: 72px;
    height: auto;
}

header .header-left{
    display: flex;
    align-items: center;
    gap: 160px;
}
header .header-left ul{
    display: flex;
    align-items: center;
    gap: 40px;
}
header .header-left ul li a{
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
}
.nav-btn{
    background-color: transparent;
    color: #E8F3FD;
    border: 1px solid #E8F3FD;
}

.dark-nav #dropdown-basic,
.dark-nav .header-left ul li a{
    font-weight: 700;
    font-style: Bold;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #1A1A1A;
}
.dark-nav .nav-btn{
    background-color: transparent;
    color: #0F518A;
    border: 1px solid #0F518A;
}

.toggle{
    display: none;
}

@media(max-width: 1160px){
    header{
        padding: 0 86px;
    }
     header .header-left{
        gap: 40px;
    }
}
@media(max-width: 890px){
    .toggle{
        display: block;
        font-size: 35px;
        color: #fff;
        margin-right: 15px;
        transition: 0.3s ease-in-out;
    }
    .dark-nav .toggle{
        color: #3d3d3d;
    }
    .header-left{
        position: absolute;
        flex-direction: column;
        gap: 31px;
        right: 21px;
        top: 93px;
        backdrop-filter: blur(50px);
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 0 35px -19px #000;
        transform: translateX(0px);
    }
    .header-left ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        transition: 0.3s ease-in-out;
    }
    .open{
        transform: translateX(500px);
    }
    header {
        padding: 0 15px;
    }
}

.nav-link:hover{
    color: #fff;
}

.dropdown-menu.show {
    background-color: #fff;
}

header .header-left ul li.dropDown a {
    color: #424040;
}