*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.section-title {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section-title h2 {
  color: #2B2B2B;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.2px;
}

.section-title h2 span {
  background: linear-gradient(104deg, #0A3D67 0%, #1A68A8 50%, #49BDEE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-home-img{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

.about{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30vh 65px 15px 65px;
}

.about .section-title h2{
    font-size: 64px;
}

.about-numbers{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
}

.about-number{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 21px;
    width: 282px;
    text-align: center;
}
.about-number img{
    width: 70px;
    height: 70px;
}

.about-number.number {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.about-number.number h3{
    font-size: 40px;
    color: #051B2E;
    text-align: center;
}
.about-number .number p{
    color: #333333;
    font-size: 20px;
    text-align: center;
}


/* ======================================================================================== */

.our-story{
    width: 100vw;
    padding: 76px 156px;
    display: flex;
    flex-direction: column;
    gap: 56px;
    background-color: #F9F9F9;
}

.our-story h2{
    font-size: 48px;
    color: #051B2E;
}

.our-story .our-story-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 79px;
}

.our-story .our-story-content .our-story-text{
    font-size: 20px;
    color: #4D4D4D;
}

.our-story .our-story-content .our-story-image{
    width: 100%;
    height: 100%;
    padding: 38px 32px;
    border-radius: 20px;
    background: linear-gradient(79deg, #0A3D67, #1A68A8, #49BDEE);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.our-story .our-story-content .our-story-image .year h4{
    font-size: 64px;
    text-align: center;
}
.our-story .our-story-content .our-story-image .year p{
    font-size: 20px;
    color: #F2F2F2;
    text-align: center;
}

.our-story .our-story-content .our-story-image .contry{
    display: flex;
    flex-direction: row;
    gap: 24px;
    width: 100%;
}

.our-story .our-story-content .our-story-image .contry .experince{
    border-radius: 15px;
    padding: 16px;
    text-align: center;
    background: #A3CFF530;
    width: 50%;
}

.our-story .our-story-content .our-story-image .contry .experince h4{
    font-size: 32px;
}

.our-story .our-story-content .our-story-image .contry .experince p{
    font-size: 20px;
    color: #F2F2F2;
}

/* ================================================================================================== */


.vision{
    width: 100vw;
    background: #F5F7F9;
    padding: 65px 156px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.vision-content{
    display: flex;
    gap: 24px;
}

.vision-content .content{
    padding: 24px;
    border-radius: 15px;
    background: #fff;
}
.vision-content .content img{
    margin-bottom: 24px;
}
.vision-content .content h3{
    color: #051B2E;
    font-size: 32px;
}
.vision-content .content p{
    color: #4D4D4D;
    font-size: 16px;
}

/* ======================================================================================= */


.how {
  padding: 55px 156px;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 56px;
  background-color: #fff;
}

.section-title {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.section-title h2 {
  color: #2B2B2B;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -1.2px;
}

.section-title h2 span {
  background: linear-gradient(104deg, #0A3D67 0%, #1A68A8 50%, #49BDEE 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-title p {
  color: #051B2E;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.about-how-content {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 21px;
  flex-wrap: wrap;
}

.about-how-content .card {
  display: flex;
  flex-direction: row;
  width: 380px;
  height: 157px;
  padding: 0 32px 0 20px;
  align-items: center;
  gap: 24px;
  border-radius: 15px;
  border-left: 1.4px solid #0F518A;
  background: rgba(232, 243, 253, 0.70);
}

.about-how-content .card .image {
  display: flex;
  width: 69px;
  height: 69px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: #FFF;
}

.about-how-content .card .card-text {
  gap: 12px;
}

.about-how-content .card .card-text h2 {
  color: #1A1A1A;
  font-size: 20px;
  font-weight: 500;
}

.about-how-content .card .card-text {
  color: var(--Neutral-700, #4D4D4D);
  font-size: 14px;
  font-weight: 400;
}



/* ====================================================================================================== */

.ready{
    background-color: #0B3C66;
    width: 100%;
    padding: 80px 156px;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 46px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ready h3{
    font-size: 40px;
}
.ready p{
    color: #D1E7FA;
    font-size: 16px;
}

.ready .btn{
    background-color: #fff;
    color: #0B3C66;
}

/* ==================================================================================================== */

.founder{
    width: 100vw;
    padding: 75px 156px;
    background: linear-gradient(180deg, #fff , #D6ECFF);
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.founder-body{
    display: flex;
    gap: 104px;
}
.founder-body .founder-content{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.founder-body .founder-content .text h2{
    color: #051B2E;
    font-size: 40px;
    margin: 0;
}
.founder-body span{
    color: #0F518A;
    font-size: 16px;
    font-weight: 600;
    
}
.founder-body .text p{
    margin-top: 20px;
    color: #4D4D4D;
    font-size: 20px;
}

.founder-content .keys{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.founder-content .keys .key{
    color: #0F518A;
    background-color: #A3CFF530;
    border-radius: 10px;
    padding: 10px 24px;
    margin: 0;
}


@media(max-width: 1230px){
    .about-number {
        width: 170px;
    }
    .founder {
        padding: 75px 40px
    }
}
@media(max-width: 1050px){
    .our-story{
        padding: 76px 30px;
    }
    .vision{
        padding: 65px 50px;
    }
    .founder-body{
        flex-direction: column;
    }
}

@media(max-width: 800px){
    .our-story .our-story-content{
        display: grid;
        grid-template-columns: 1fr;
    }
    .ready{
        padding: 50px 30px;
    }
}

@media(max-width: 650px){
    .vision-content{
        flex-direction: column;
    }
    .founder-image img{
        width: 100%;    
    }

    .ready{
        gap: 20px;
    }
    .ready h3{
        font-size: 30px;
    }
    .ready p{
        font-size: 12px;
    }
    .ready .btn {
        width: 200px;
        height: 45px;
    }
}
@media(max-width: 550px){
    .about{
        height: auto;
        padding: 19vh 65px 15px 65px;
    }
    .about .section-title h2 {
        font-size: 35px;
    }
}
@media(max-width: 450px){
    .our-story .our-story-content .our-story-text {
        font-size: 15px;
    }
    .our-story h2 {
        font-size: 43px;
    }
    .our-story .our-story-content .our-story-image .contry .experince p {
        font-size: 13px;
    }
    .our-story .our-story-content .our-story-image .contry .experince h4 {
        font-size: 25px;
    }
    .our-story .our-story-content .our-story-image .year h4 {
        font-size: 50px;
    }
    .our-story .our-story-content .our-story-image .year p {
        font-size: 17px;
    }
    .vision .section-title h2 {
        font-size: 35px;
    }
    .about-how-content .card {
        width: 330px;
    }
}
@media(max-width: 400px){
    .about-numbers {
        display: flex;
        gap: 0;
        justify-content: center;
    }
}