.CoueseBlur{
    width: 677px;
    height: 677px;
    border-radius: 50%;
    background-color: #A3CFF5;
}

.CoueseBlur1{
    position: absolute;
    top: -266px;
    left: 980px;
    z-index: -1;
    filter: blur(220px);
}
.CoueseBlur2{
    width: 462px;
    height: 462px;
    position: absolute;
    bottom: -40vh;
    left: -235px;
    z-index: -1;
    filter: blur(80px);
}

.NewsHero{
    position: relative;
    padding: 213px 156px 80px 156px;
    display: flex;
    flex-direction: column;
    gap: 78px;
}

.NewsHero .section-title{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.NewsHero .section-title h2{
    font-size: 64px;
}

.NewsHero .section-title p{
    font-size: 16px;
    margin: 0;
}

.NewsHeroBody{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    background: linear-gradient(87deg,#0F518A , #49BDEE);
    border-radius: 25px;
    color: #fff;
}

.NewsHeroBody span{
    background: #ffffff60;
    padding: 8px 16px;
    border-radius: 15px;
    color: #0F518A;
}

.NewsHeroBody .text{
    margin: 20px 0 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.NewsHeroBody .text h3{
    font-size: 32px;
    margin: 0;
}

.NewsHeroBody .text p{
    font-size: 16px;
    margin: 0;
}
.NewsHeroBody button{
    padding: 16px 42px;
    width: 350px;
    background: #fff;
    color: #0B3C66;
}

.Filter-section{
    display: flex;
    flex-direction: column;
    padding: 50px 156px;
    gap: 48px;
}

.filter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.filter .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}
.filter .filter-buttons button{
    background-color: #E8F3FD;
    padding: 16px 32px;
    border-radius: 15px;
    color: #0B3C66;
    border: 1px solid #0F518A;
    width: 200px;
    font-weight: 600;
}
.filter .filter-buttons button.active{
    background-color: #0F518A;
    color: #fff;
    width: auto;
}
.filter i{
    color: #0B3C66;
    font-size: 35px;
}

.filter-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.filter-body .NewCard{
    width: 380px;
    min-height: 492px;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #0F518A;
    gap: 24px;
    box-shadow: 0 3px 10px 0 #00000010;
}

.filter-body .NewCard img{
    width: 100%;
}
.filter-body .NewCard .NewsCardContent{
    padding: 0 24px;
}

.filter-body .NewCard .NewsCardContent .head{
    display: flex;
    justify-content: space-between;
}

.filter-body .NewCard .NewsCardContent .head p{
    padding: 6px 16px;
    background-color: #D1E7FA70;
    color: #0F518A;
    border-radius: 8px;
    font-size: 10px;
}
.filter-body .NewCard .NewsCardContent .head span{
    font-size: 10px;
    color: #0F518A;
    padding: 6px 0;
}

.filter-body .NewCard .NewsCardContent h3{
    font-size: 20px;
    color: #0F518A;
}
.filter-body .NewCard .NewsCardContent p{
    font-size: 14px;
    color: #666666;
}
